<?xml version="1.0"?>
<configuration>
  
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="MyFileAppender" type="log4net.Appender.FileAppender">
    <file value="CMSapplication.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level |%date |%property{Token} |%property{TokenValue} |%property{ClassName} |%property{MethodName} |%message %newline" />
    </layout>
  </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="MyFileAppender" />
    </root>
  </log4net>


  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  
  
  <system.serviceModel>
 
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="CMSService.CMSService">
        <endpoint address="/customer" behaviorConfiguration="EndpointBehaviour"
          binding="webHttpBinding" bindingConfiguration="BindingConfiguration"
          name="Customer" contract="CMSService.ICustomerService"  />
        
        
    
    
      </service>
     
      <service behaviorConfiguration="ServiceBehaviour" name="CMSService.CMSUserService">
        <endpoint address="/user" behaviorConfiguration="EndpointBehaviour"
          binding="webHttpBinding" bindingConfiguration="BindingConfiguration"
          name="User" contract="CMSService.IUserService" />
      </service>
   
        
      
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="BindingConfiguration">
          
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
      
    </protocolMapping>-->    
    
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

<connectionStrings >
    <add name="DBConnectionString" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=kaushik" providerName="System.Data.SqlClient"/>
  <!--<add name="DBConnectionString" connectionString="server=52.76.251.179;port=3306;database=cms;User Id=mxradonroot;password=Swayam123;charset=utf8" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
    
</configuration>
